{% extends "base.html" %}

{%block content1%}
{%if shyam_dues or ram_dues %}
    <p>Rs.{{ram_dues}}</p><br>
    <hr>
{%endif%}  
{%endblock%}

{%block content2%}
{%if shyam_dues or ram_dues %}
    <p>Rs.{{shyam_dues}}</p><br>
    <hr>
{%endif%}  
{%endblock%}


{% block bill1%}
<form method="Post" action=" ">
		{% csrf_token %}
		<div>
			{{ form.as_p}}
		</div>
		<button type="submit">Submit</button>
	</form>
{%endblock%}

{% block bill2 %}
<div><h6> Choose a payment method </h6>
<button type="button" class="btn btn-primary btn-lg">Record a cash payment</button><br>
<button type="button" class="btn btn-primary btn-lg">Send money via Paypal</button><br>
<p> Note: PayPal payments via debit or credit card incur fees of up to 4%. Venmo payments via credit card incur fees of 3%. Visit PayPal.com or Venmo.com for details.</p>
</div>
{%endblock%}